.appointmentButton {
    align-items: center;
    background: none;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: center;
    margin: 0 10px;
    text-decoration: none;
    width: 200px;
}

.marginBottom {
    margin-bottom: 5px;
}